Archive/

**/.env
**/.env.*
!**/.env.example

**/*.db
**/*.sqlite
**/*.sqlite3

**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/.mypy_cache/

**/node_modules/
**/dist/
**/.venv/
**/venv/

**/*.log
**/*.har
*.zip

.vscode/
_recovered_from_recyclebin_*/
